<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto.Properties.Settings.BD_ContactosConnectionString"
            connectionString="Data Source=LAPTOP-1ALE17VJ\SQLEXPRESS;Initial Catalog=BD_Contactos;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>